---
version: "2.1"
services:
  localstack:
    image: localstack/localstack:4.13.0@sha256:7854e1da9cf4a933228035a5389d8b5f59e9aae78ae7851a0e4de81da792d2ae
    network_mode: bridge
    environment:
      SERVICES: sns,s3,sqs
      DEBUG: 0
    ports:
      - 4566:4566
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
